{
  "extends": [
    "plugin:@wordpress/eslint-plugin/recommended",
    "prettier" // <-- ADD THIS. It disables all conflicting style rules.
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "indent": "off",
    "linebreak-style": "off",
    "space-in-parens": "off"
  }
}
